body {
    font-family: "Lato", sans-serif;
    background-color: #ededed;
    font-family: sans-serif;
    line-height: 160%;
}

img {
    max-width: 100%;
    height: auto;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    color: white;
    text-align: center;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    margin-top: 20px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main { 
    padding-left: 160px;
    text-align: center;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;  
        line-height: 17px;
        font-size: smaller;  
        font-size: 12px;       
    }
    .sidenav a{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 769px) {
    .sidenav {       
        width: 145px;
    }
    .sidenav img.annotation{        
        height: 65px !important;
    }
    .main{        
        padding-left: 145px;
    }
    #gitLink{        
        position: inherit !important;
    }
}

.image-caption {
    line-height: normal;
    font-weight: bold;
    font-size: 12px;
}

#gitLink {    
    position: fixed;
    top: 25px;
    right: 35px;
    z-index: 10000;
}